* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
}

.topo {
    background-color: orange;
    padding: 20px;
    text-align: center;
}

.container-links {
    margin-top: 10px;
    list-style: none;
}

.container-links li {
    display: inline-block;
    margin: 0 5px;
    font-size: 22px;
}

.container-banner {
    height: 50vh;
    background-image: url('./sorveteria.jpg');
    background-position: center;
    background-size: cover;
}

.container-principal {
    padding: 100px 20px;
}

.primeira-secao,
.segunda-secao,
.terceira-secao {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.segunda-secao, .terceira-secao {
    margin-top: 100px;
}

.primeira-secao h2,
.segunda-secao h2,
.terceira-secao h2 {
    margin-bottom: 15px;
}

.subcontainer-imgs {
    white-space: nowrap;
    overflow: auto;
    margin: 20px 0;
}

.subcontainer-imgs img {
    width: 30%;
    margin: 0 10px;
}

.terceira-secao p {
    margin: 10px 0;
}

.terceira-secao li {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    padding: 10px 20px;
    background-color: aqua;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
}